@media (max-width: 500px) {
    body {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        background-color: rgb(39, 37, 37);    
    }

    .navbar {
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100vw;
        height: 70px;
        background-color: rgb(15, 14, 14);
    }

    .navchild {
        width: 100vw;
        height: 30px;
        display: flex;
        justify-content: space-between;
    }

    .boxresearch {
        align-content: center;
    }

    .research {
        display: none;
    }
    
    .fa-solid {
        margin: 0 1vw 0 1vw;
        color: white;
    }

    .fa-user {
        color: red;
    }

    .boxuser {
        width: 2rem;
        height: 2rem;
        background-color: gray;
        border-radius: 50%;
        text-align: center;
        align-content: center;
        margin: 0 1vw 0 1vw;
    }

    .boxnav {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      
    }

    .categorie {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
      
    }

    .categorie li {
    background-color: red;
    border-radius: 5px;
    padding:0 5px 0 5px;
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    display: flex;
   
    }

    a {
        text-decoration: none;
        list-style: none;
        color: white;
    }

    .pagination {
        left: 0;
        top: 70px;
        height: auto;
        overflow: hidden;
        display: flex;
        position: absolute;
        flex-direction: column;
    }
    .box {
        width: 100vw;
        flex-direction: column;
        display: flex;
        
    }

    .photo {
        display: block;
        background-color: red;
        height: auto;
        width: 100%;
    }

    .in {
        width: 100%;
    }

    .title {
        text-align: center;
        margin: 0;
    }

    .title h3{
        margin: 0;
        color: white;
    }

    h1 {
        margin: 0;
        font-size: 2rem;
        color: aliceblue;
    }
    p {
        color: white;
    }

    .nakomona {
        width: 100vw;
        flex-direction: row;
        display: flex;

    }

    .nayebi {
        width: 50%;
        height: 150px;
        flex-direction: row;
    }

    .keba {
        width: 50%;
        height: 150px;
        display: flex;
        right: 0px;
    }

    .kebain {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
    }

    .boxmutu {
        left: 0;
        display: flex;
        width: 2rem;
        height: 2rem;
        background-color: gray;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin: 0 1vw 0 1vw;
    }
    #mutu {
        color: rgb(1, 82, 1);
    }

    #fmutu {
        color: skyblue;
    }

    .mess {
        display: flex;
        width: 150px;
        border-radius: 5px;
        position: relative;
        left: 0;
        background-color: gray;
        margin-top: 2px;
    }
    .boxbatu {
        display: flex;
        width: 2rem;
        height: 2rem;
        background-color: gray;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin: 0 2vw 2vw 2vw;
    }

    .hidinput {
        display: none;
    }

    #like:checked ~ .fa-heart {
        color: red;
    }
}