.stream {

}

video {
    width: 100%;
}

.videoname {
    color: white;
}

.Ucommente {
    display: flex;
    flex-direction: row;
}
.profil {
    width: 15vw;
    flex-direction: row;
}

.commente {
    width: 85vw;
    height: auto;
    background-color: gray;
    border-radius: 7px;
    padding: 4px;
}

article {
    border-bottom: white solid  1px;
}

.tosee {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 3px 0 3px 0;
    border-top: solid white 1px;

}

.imgcontent {
    height: 69px;
    width: 50px;
}

.toseeimg {
    display: flex;
    width: 50px;
    height: 69px;
    background-size: cover;
}

.titlecontent {
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.trashbox {
    font-size: 2rem;
    color: gray;
    justify-content: center;
    align-content: center;
}
.avis {
    display: flex;
    flex-direction: row;
}

.ads {
    display: flex;
    flex-direction: row;
}

.btnads {
    display: flex;
    position: ;
    bottom: 0;
    height:     20px;
}
